@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container1 {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

.container1 img.bgimg {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 120%;
  height: 120%;
  z-index: -1;
  -webkit-filter: blur(15px);
          filter: blur(15px);
}

.errM {
  height: 3em;
  width: 32em;
  z-index: 10;
  border-radius: 25px;
  background-color: #110F30;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  position: absolute;
  top: 0;
  border: none;
  outline: none;
  -webkit-transform: translateY(-5em);
          transform: translateY(-5em);
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.8, -0.46, 0.22, 1.31);
  transition: -webkit-transform 0.6s cubic-bezier(0.8, -0.46, 0.22, 1.31);
  transition: transform 0.6s cubic-bezier(0.8, -0.46, 0.22, 1.31);
  transition: transform 0.6s cubic-bezier(0.8, -0.46, 0.22, 1.31), -webkit-transform 0.6s cubic-bezier(0.8, -0.46, 0.22, 1.31);
}

.errM:focus {
  -webkit-transform: translateY(1.5em);
          transform: translateY(1.5em);
}

.errM i {
  font-size: 1.5em;
  color: #a537ff;
}

.errM h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  color: #a537ff;
}

.sucss {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  background-color: #eaeaea40;
  opacity: 0;
}

.sucss .svgContainer {
  width: 0em;
  height: 0em;
  position: relative;
  background-color: #110f30;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  -webkit-animation: popupAnim 0.5s ease-in-out forwards;
          animation: popupAnim 0.5s ease-in-out forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.sucss .svgContainer .svg1 {
  width: 50%;
  aspect-ratio: 1;
  position: absolute;
}

.sucss .svgContainer .svg1 .t_circle {
  fill: none;
  stroke-width: 70;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 2562;
  stroke-dashoffset: 2562;
  stroke: #6ac45a;
  -webkit-animation: svgAnim 0.7s ease-in-out;
          animation: svgAnim 0.7s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.sucss .svgContainer .svg2 {
  width: 45%;
}

.sucss .svgContainer .svg2 .tick {
  fill: none;
  stroke-width: 110;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 731;
  stroke-dashoffset: 731;
  stroke: #6ac45a;
  -webkit-animation: svgAnim 0.4s ease-in-out;
          animation: svgAnim 0.4s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

@-webkit-keyframes svgAnim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes svgAnim {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes popupAnim {
  from {
    height: 0em;
    width: 0em;
  }
  to {
    height: 15em;
    width: 20em;
  }
}

@keyframes popupAnim {
  from {
    height: 0em;
    width: 0em;
  }
  to {
    height: 15em;
    width: 20em;
  }
}

.imglogin {
  height: 75%;
  width: 40%;
}

.imglogin img {
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 25px 0 0 25px;
  -webkit-filter: brightness(75%);
          filter: brightness(75%);
}

.login_card {
  height: 75%;
  min-width: 18em;
  border-radius: 0 25px 25px 0;
  background-color: #110F30;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 30% 1fr;
      grid-template-rows: 30% 1fr;
}

.section1 {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pfp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.pfp img {
  width: 80%;
  height: 90%;
}

.section2 {
  height: 100%;
  width: 100%;
}

.section2 form {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  font-family: 'Open Sans', sans-serif;
  padding-top: 2em;
  -ms-grid-rows: 6em 0.1em 6em 0.1em 6em;
      grid-template-rows: 6em 0.1em 6em 0.1em 6em;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.section2 form input {
  border: none;
  width: 70%;
  height: 40%;
  border-radius: 25px;
  padding: 0 15px;
  font-weight: 600;
  font-size: 0.9em;
}

.section2 form input:focus {
  outline: none;
}

.section2 form button {
  border: none;
  outline: none;
  height: 45%;
  width: 45%;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  padding: 0.8em 1em;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  background-color: #4949FC;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  color: #f0f0f0;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
}

.section2 form button:hover {
  cursor: pointer;
  background-color: #3030d4;
}

.section2 form .mail {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.input_pass {
  position: relative;
  width: 70%;
  height: 40%;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.input_pass .password {
  width: 95%;
  height: 100%;
}

.input_pass .showPass {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 3.4em;
  outline: none;
  border-radius: 0 25px 25px 0;
}

.input_pass .showPass i {
  font-size: 1em;
}

@media (max-width: 700px) {
  .imglogin {
    display: none;
  }
  .login_card {
    border-radius: 25px;
  }
  .login_card form {
    -ms-grid-rows: 30% 0.5em 30% 0.5em 30%;
        grid-template-rows: 30% 0.5em 30% 0.5em 30%;
    padding-top: 0;
  }
}
/*# sourceMappingURL=styles2.css.map */