@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.7em;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb {
  background-color: #8080ff;
  border-radius: 25px;
  background-clip: padding-box;
}

.header {
  height: 6vh;
  background-color: #322e64;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2vw;
  font-size: 1.1em;
  font-weight: 700;
  padding-right: 40px;
}

.nav input:focus {
  outline: none;
}

.separator {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.searchbar {
  height: 100%;
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.searchbar input {
  position: absolute;
  height: 60%;
  width: 90%;
  border: none;
  border-bottom: 0.2em solid #f3f3f3;
  color: #f3f3f3;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  background-color: transparent;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  font-family: 'Open Sans', sans-serif;
}

.searchbar input:focus {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.searchbar input:focus ~ i {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.searchbar i {
  font-size: 1.2em;
  color: #f3f3f3;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.searchbar i:hover {
  color: #8080ff;
}

.menu {
  width: 4%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.menu i {
  color: #F0F0F0;
  font-size: 150%;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.menu i:hover {
  color: #8080ff;
}

.menu.active .leftbar {
  -webkit-transform: translate(0vw);
          transform: translate(0vw);
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logoimg {
  height: 4.7vh;
  width: auto;
  z-index: 10;
}

.leftbar {
  height: 100vh;
  width: 13vw;
  padding-top: 6vh;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  background-color: #201d4b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translate(-18vw);
          transform: translate(-18vw);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  color: #f0f0f0;
  font-family: 'Open Sans', sans-serif;
}

.menu_item {
  height: 8%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.menu_item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
  padding-left: 1.5em;
  text-decoration: none;
  color: #f0f0f0;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.menu_item a .fa-times {
  font-size: 1.8em;
}

.menu_item a h2 {
  font-weight: 600;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  font-size: 1rem;
}

.menu_item:hover i, .menu_item:hover h2 {
  color: #8080ff;
}

.menu_item:hover a {
  background-color: #110F30;
}

.signin {
  width: auto;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signin img {
  width: auto;
  height: 100%;
  background-color: #FFF;
  border-radius: 25px;
  cursor: pointer;
}

.signin.active .menupfp {
  height: 10vh;
  opacity: 1;
  visibility: visible;
}

.signin.active .menupfp::before {
  height: 30px;
  opacity: 1;
  visibility: visible;
}

.menupfp {
  height: 0;
  width: 10vw;
  background-color: #322e64;
  right: 0;
  top: 1vh;
  margin-right: 10px;
  margin-top: 6vh;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  opacity: 0;
  visibility: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 1;
}

.menupfp a {
  text-decoration: none;
  color: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8em;
  gap: 10px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.menupfp a i {
  font-size: 1.4em;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.menupfp a:hover {
  color: #8080ff;
}

.menupfp a:hover i {
  color: #8080ff;
}

.menupfp::before {
  content: '';
  position: absolute;
  top: 0;
  z-index: -1;
  right: 30px;
  width: 30px;
  height: 0;
  background-color: #322e64;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.container1 {
  height: 94vh;
  width: 100%;
  background-color: #eaeaea;
}

.switchBtns {
  height: 15%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.switchBtns a {
  height: 3em;
  width: 8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  text-decoration: none;
  border: none;
  outline: none;
  border-radius: 25px;
  background-color: #5a1799;
  -webkit-box-shadow: 5px 5px 20px #a4a4a4, -10px -10px 20px #ffffff;
          box-shadow: 5px 5px 20px #a4a4a4, -10px -10px 20px #ffffff;
  color: #eaeaea;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}

.switchBtns a:hover {
  cursor: pointer;
  background-color: #380f5e;
}

.formCreate {
  height: 85%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.formCreate form {
  height: 95%;
  width: 30%;
  border-radius: 25px;
  background: #eaeaea;
  -webkit-box-shadow: 10px 10px 20px #a4a4a4, -10px -10px 20px #ffffff;
          box-shadow: 10px 10px 20px #a4a4a4, -10px -10px 20px #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.formCreate form h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 2em;
  color: #110F30;
}

.formCreate form input {
  height: 3em;
  width: 70%;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 3px solid #110F30;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
}

.formCreate form .selectCreate {
  width: 70%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "select";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formCreate form .selectCreate::after {
  content: '';
  -webkit-clip-path: polygon(100% 0%, 0 0%, 50% 100%);
          clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  width: 0.8em;
  height: 0.5em;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: select;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 1em;
  background-color: #110F30;
  pointer-events: none;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.formCreate form .selectCreate:focus-within::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.formCreate form .selectCreate select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 3em;
  border-radius: 50px;
  border: none;
  outline: none;
  padding-inline: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: select;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  color: #666666;
  background: linear-gradient(145deg, #d3d3d3, #fafafa);
  -webkit-box-shadow: 10px 10px 20px #a4a4a4, -10px -10px 20px #ffffff;
          box-shadow: 10px 10px 20px #a4a4a4, -10px -10px 20px #ffffff;
}

.formCreate form .selectCreate select:hover {
  cursor: pointer;
}

.formCreate form button {
  height: 3em;
  width: 8em;
  border: none;
  outline: none;
  border-radius: 25px;
  background-color: #110F30;
  -webkit-box-shadow: 10px 10px 20px #a4a4a4, -10px -10px 20px #ffffff;
          box-shadow: 10px 10px 20px #a4a4a4, -10px -10px 20px #ffffff;
  color: #eaeaea;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}

.formCreate form button:hover {
  cursor: pointer;
  background-color: #251e88;
}

.tableUser {
  height: 85%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tableUser .table {
  max-height: 90%;
  width: 70%;
  overflow-y: scroll;
  border-radius: 15px;
  -webkit-box-shadow: 10px 10px 20px #a4a4a4, -10px -10px 20px #ffffff;
          box-shadow: 10px 10px 20px #a4a4a4, -10px -10px 20px #ffffff;
}

.tableUser .table table {
  min-height: 100%;
  width: 100%;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  border-spacing: 0;
  color: #110F30;
}

.tableUser .table table tr {
  height: 3em;
  -webkit-transition: background 0.3s ease-out;
  transition: background 0.3s ease-out;
}

.tableUser .table table tr:hover {
  background-color: #c7c7c7;
}

.tableUser .table table tr th {
  width: 3em;
  background-color: #eaeaea;
  font-weight: 700;
  padding-left: 1.5em;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.tableUser .table table tr td {
  font-weight: 600;
  padding-left: 1.5em;
}
/*# sourceMappingURL=styles_users.css.map */