*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0.7em;

    &-track {
        background-color: transparent;
        background-clip: padding-box;
    }

    &-thumb {
        background-color: #8080ff;
        border-radius: 25px;
        background-clip: padding-box;
    }
}

.header {
    height: 6vh;
    background-color: #322e64;
    display: flex;
    align-items: center;
}

.nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    font-size: 1.1em;
    font-weight: 700;
    padding-right: 40px;

    input:focus {
        outline: none;
    }
}

.separator {
    flex-grow: 1;
}

.searchbar {
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;

    input {
        position: absolute;
        height: 60%;
        width: 90%;
        border: none;
        border-bottom: 0.2em solid #f3f3f3;
        color: #f3f3f3;
        transform: scaleX(0);
        background-color: transparent;
        transition: 0.3s ease-out;
        font-family: 'Open Sans', sans-serif;

        &:focus {
            transform: scaleX(1);
            transform-origin: right;

            ~ i {
                transform: scale(0);
            }
        }
    }

    i {
        font-size: 1.2em;
        color: #f3f3f3;
        transition: 0.2s ease-out;

        &:hover {
            color: #8080ff;
        }
    }
}

.menu {
    width: 4%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    i {
        color: #F0F0F0;
        font-size: 150%;
        transition: 0.2s ease-out;

        &:hover {
            color: #8080ff;
        }
    }

    &.active .leftbar {
        transform: translate(0vw);
    }
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoimg {
    height: 4.7vh;
    width: auto;
    z-index: 10;
}

.leftbar {
    height: 100vh;
    width: 13vw;
    padding-top: 6vh;
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    background-color: #201d4b;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    transform: translate(-18vw);
    transition: 0.2s ease-out;
    color: #f0f0f0;
    font-family: 'Open Sans', sans-serif;
}

.menu_item {
    height: 8%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    a {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5em;
        padding-left: 1.5em;
        text-decoration: none;
        color: #f0f0f0;
        transition: background-color 0.2s ease-out;

        .fa-times {
            font-size: 1.8em;
        }

        h2 {
            font-weight: 600;
            transition: 0.2s ease-out;
            font-size: 1rem;
        }
    }

    &:hover {
        i, h2 {
            color: #8080ff;
        }

        a {
            background-color: #110F30;
        }
    }
}

.signin {
    width: auto;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: auto;
        height: 100%;
        background-color: #FFF;
        border-radius: 25px;
        cursor: pointer;
    }

    &.active {
        .menupfp {
            height: 10vh;
            opacity: 1;
            visibility: visible;

            &::before {
                height: 30px;
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.menupfp {
    height: 0;
    width: 10vw;
    background-color: #322e64;
    right: 0;
    top: 1vh;
    margin-right: 10px;
    margin-top: 6vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-family: 'Open Sans', sans-serif;
    transition: 0.2s ease-out;
    opacity: 0;
    visibility: hidden;
    user-select: none;
    z-index: 1;

    a {
        text-decoration: none;
        color: #f0f0f0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8em;
        gap: 10px;
        transition: 0.2s ease-out;

        i {
            font-size: 1.4em;
            transition: 0.2s ease-out;
        }

        &:hover {
            color: #8080ff;

            i {
                color: #8080ff;
            }
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        z-index: -1;
        right: 30px;
        width: 30px;
        height: 0;
        background-color: #322e64;
        transform: rotate(45deg);
        opacity: 0;
        visibility: hidden;
        transition: 0.2s ease-out;
    }
}