@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import 'header';

.container1 {
    height: 94vh;
    width: 100%;
    display: flex;
    background-color: #f0f0f0;
    flex-direction: column;
    position: relative;
}

.bPend {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    height: 15%;

    button {
        width: 10em;
        height: 3em;
        border: none;
        outline: none;
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #5a1799;
        color: #f0f0f0;
        box-shadow:  5px 5px 20px #a4a4a4,
         -10px -10px 20px #ffffff;
        font-family: 'Open Sans', sans-serif;
        font-size: 0.8em;
        gap: 0.5em;
        transition: background 0.2s ease-out;

        &:hover {
            cursor: pointer;
            background-color: #380f5e;
        }
    }

}

.tableEquip {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .table {
        width: 90%;
        max-height: 95%;
        overflow-y: scroll;
        border-radius: 15px;
        box-shadow:  10px 10px 20px #a4a4a4,
        -10px -10px 20px #ffffff;

        .firstTable {
            position: sticky;
            top: 0;
            background-color: #f0f0f0;
            z-index: 5;
        }

        details {
            summary {
                list-style: none;
                position: relative;

                &::marker {
                    display: none;
                }

                &::before {
                    content: '\f053';
                    font-weight: 900;
                    font-family: 'Font Awesome 5 Free';
                    top: 1em;
                    right: 2em;
                    position: absolute;
                    transition: 0.2s ease-out;
                    color: #110F30;
                    user-select: none;
                    pointer-events: none;
                }
            }

            &[open] {
                > summary::before {
                    transform: rotate(-90deg);
                }
            }

            .solDetails {
                width: 100%;
                height: max-content;
                display: grid;
                grid-template-columns: 4em 10em 1fr 8em 10em 10em;
                grid-auto-rows: minmax(3em, 1fr);
                padding: 2em;
                box-shadow: inset 10px 10px 20px #c0c0c0,
                inset -10px -10px 20px #ffffff;

                .info {
                    width: 100%;
                    height: max-content;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    flex-direction: column;
                    font-family: 'Open Sans', sans-serif;

                    h3 {
                        width: 100%;
                    }

                    .null {
                        color: #110F3088;
                        font-style: italic;
                        text-transform: uppercase;
                    }
                }

                .det_desc {
                    padding: 0 1em;
                    
                    span {
                        word-break: break-all;
                    }
                }
            }
        }

        table {
            min-height: 100%;
            width: 100%;
            text-align: left;
            font-family: 'Open Sans', sans-serif;
            border-spacing: 0;
            border-collapse: collapse;
            color: #110F30;

            tr {
                height: 3em;
                transition: background 0.3s ease-out;
                overflow-x: hidden;

                &:hover {
                    background-color: #c7c7c7;
                }

                &:not(:first-child) {
                    animation: tableAnim 0.5s ease-out backwards;
                }

                th {
                    background-color: #f0f0f0;
                    font-weight: 700;
                    padding-left: 1.5em;
                    position: sticky;
                    top: 0;
                }

                .st_col {
                    min-width: 3em;
                    max-width: 3em;
                    width: 3em;

                    .fa-clock {
                        color: #ff8737;
                    }

                    .fa-check {
                        color: #1ba527;
                    }

                    .fa-times {
                        color: #ff1c42;
                        font-size: 1em;
                    }
                }

                .id_col {
                    min-width: 4em;
                    max-width: 5em;
                    width: 5em;
                }

                .desc_col {
                    min-width: 12em;
                    max-width: 15em;
                    width: 15em;
                    word-break: break-all;
                }

                .lugar_col {
                    min-width: 6em;
                    width: 7em;
                }

                .tipo_col {
                    min-width: 11em;
                    width: 11em;
                }

                .fecha_col {
                    min-width: 9em;
                    width: 10em;
                }

                .fecha_col_2 {
                    min-width: 9em;
                    width: 10em;
                }

                td {
                    font-weight: 600;
                    padding-left: 1.5em;
                    text-align: left;

                    .null {
                        color: #110F3088;
                        font-style: italic;
                    }
                }
            }
        }
    }
}