@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import 'header';

.container1 {
    height: 94vh;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 85%;
    background-color: #f0f0f0;
    padding: 2vh 5vh;
    position: relative;
}

@keyframes registerAnim {
    to  {
        transform: translateY(0);
    }
}

@keyframes registerAnim2 {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-50em);
    }
}

.regPurchase {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #1a1a1acc;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

    &.active {
        form {
            animation: registerAnim2 0.8s cubic-bezier(.8,-0.46,.22,1.31) forwards;
        }
    }

    form {
        width: 30%;
        height: 75%;
        background-color: #f0f0f0;
        border-radius: 25px;
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 20% 2em 1fr 2em 15%;
        font-family: 'Open Sans', sans-serif;
        transform: translateY(-50em);
        animation: registerAnim 0.8s cubic-bezier(.8,-0.46,.22,1.31) forwards;

        .fa-times {
            position: absolute;
            top: 0.8em;
            right: 1em;
            font-size: 1.8em;
            transition: 0.2s ease-out;
            color: #110F30;

            &:hover {
                cursor: pointer;
                transform-origin: center;
                transform: scale(1.1);
            }
        }

        .formTitle {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            color: #110F30;

            h2 {
                font-size: 2em;
                font-weight: 800;
            }
        }

        fieldset {
            width: 100%;
            height: 100%;
            grid-row: 3 / 4;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2em;
            border: none;
            outline: none;

            input {
                border: none;
                outline: none;
                border-bottom: 3px solid #110F30;
                background-color: transparent;
                height: 3em;
                width: 60%;
            }

            .dReq {
                text-transform: uppercase;
            }

            .selectType, .selectProv {
                width: 60%;
                display: grid;
                grid-template-areas: "select";
                align-items: center;
            
                &::after {
                    content: '';
                    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
                    width: 0.8em;
                    height: 0.5em;
                    grid-area: select;
                    justify-self: end;
                    margin-right: 1em;
                    background-color: #110F30;
                    pointer-events: none;
                    transition: transform 0.2s ease-out;
                }
            
                &:focus-within {
                    &::after {
                        transform: rotate(180deg);
                    }
                }
            
                select {
                    appearance: none;
                    width: 100%;
                    height: 3em;
                    border-radius: 50px;
                    border: none;
                    outline: none;
                    padding-inline: 1em;
                    align-items: center;
                    grid-area: select;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 0.8em;
                    color: #535353;
                    background: linear-gradient(145deg, #d3d3d3, #fafafa);
                    box-shadow:  10px 10px 20px #a4a4a4,
                        -10px -10px 20px #ffffff;
            
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        button {
            grid-row: 5 / 6;
            height: 3em;
            width: 8em;
            justify-self: center;
            border-radius: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5em;
            outline: none;
            border: none;
            background-color: #322e64;
            color: #f0f0f0;
            transition: 0.2s ease-out;

            &:hover {
                background-color: #110F30;
                cursor: pointer;
            }
        }
    }
}

.registerEquip {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #1a1a1acc;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

    &.active {
        form {
            animation: registerAnim2 0.8s cubic-bezier(.8,-0.46,.22,1.31) forwards;
        }
    }

    form {
        width: 30%;
        height: 80%;
        background-color: #f0f0f0;
        border-radius: 25px;
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 15% 2em 1fr 2em 15%;
        font-family: 'Open Sans', sans-serif;
        transform: translateY(-50em);
        animation: registerAnim 0.8s cubic-bezier(.8,-0.46,.22,1.31) forwards;

        .fa-times {
            position: absolute;
            top: 0.8em;
            right: 1em;
            font-size: 1.8em;
            transition: 0.2s ease-out;
            color: #110F30;

            &:hover {
                cursor: pointer;
                transform-origin: center;
                transform: scale(1.1);
            }
        }

        .formTitle {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            color: #110F30;

            h2 {
                font-size: 2em;
                font-weight: 800;
            }
        }

        fieldset {
            width: 100%;
            height: 100%;
            grid-row: 3 / 4;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2em;
            border: none;
            outline: none;

            input {
                border: none;
                outline: none;
                border-bottom: 3px solid #110F30;
                background-color: transparent;
                height: 3em;
                width: 70%;
            }

            .dateSol {
                text-transform: uppercase;
            }

            .selectType, .selectBrand, .selectProv {
                width: 70%;
                display: grid;
                grid-template-areas: "select";
                align-items: center;
            
                &::after {
                    content: '';
                    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
                    width: 0.8em;
                    height: 0.5em;
                    grid-area: select;
                    justify-self: end;
                    margin-right: 1em;
                    background-color: #110F30;
                    pointer-events: none;
                    transition: transform 0.2s ease-out;
                }
            
                &:focus-within {
                    &::after {
                        transform: rotate(180deg);
                    }
                }
            
                select {
                    appearance: none;
                    width: 100%;
                    height: 3em;
                    border-radius: 50px;
                    border: none;
                    outline: none;
                    padding-inline: 1em;
                    align-items: center;
                    grid-area: select;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 0.8em;
                    color: #535353;
                    background: linear-gradient(145deg, #d3d3d3, #fafafa);
                    box-shadow:  10px 10px 20px #a4a4a4,
                        -10px -10px 20px #ffffff;
            
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        button {
            grid-row: 5 / 6;
            height: 3em;
            width: 8em;
            justify-self: center;
            border-radius: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5em;
            outline: none;
            border: none;
            background-color: #322e64;
            color: #f0f0f0;
            transition: 0.2s ease-out;

            &:hover {
                background-color: #110F30;
                cursor: pointer;
            }
        }
    }
}

.addProvider {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #1a1a1acc;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

    &.active {
        form {
            animation: registerAnim2 0.8s cubic-bezier(.8,-0.46,.22,1.31) forwards;
        }
    }
    
    form {
        width: 50%;
        height: 80%;
        background-color: #f0f0f0;
        border-radius: 25px;
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 15% 2em 15% 2em 1fr;
        font-family: 'Open Sans', sans-serif;
        transform: translateY(-50em);
        animation: registerAnim 0.8s cubic-bezier(.8,-0.46,.22,1.31) forwards;

        .fa-times {
            position: absolute;
            top: 0.8em;
            right: 1em;
            font-size: 1.8em;
            transition: 0.2s ease-out;
            color: #110F30;

            &:hover {
                cursor: pointer;
                transform-origin: center;
                transform: scale(1.1);
            }
        }

        .formTitle {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            color: #110F30;

            h2 {
                font-size: 2em;
                font-weight: 800;
            }
        }

        fieldset {
            grid-row: 3 / 4;
            border: none;
            outline: none;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2em;

            input {
                width: 20%;
                height: 3em;
                border: none;
                outline: none;
                border-bottom: 3px solid #110F30;
                background-color: transparent;
            }

            button {
                width: 3em;
                height: 3em;
                border: none;
                outline: none;
                border-radius: 50%;
                transition: 0.2s ease-out;
                background-color: #322e64;
                color: #f0f0f0;

                &:hover {
                    background-color: #110F30;
                    cursor: pointer;
                }
            }
        }

        .table {
            grid-row: 5 / 6;
            align-self: start;
            justify-self: center;
            width: 90%;
            height: 90%;
            border-radius: 25px;
            box-shadow:  10px 10px 20px #a8a8a8,
             -10px -10px 20px #ffffff;
            overflow-y: scroll;

            table {
                width: 100%;
                height: 100%;
                text-align: center;
                font-family: 'Open Sans', sans-serif;
                color: #110F30;
                border-spacing: 0;
                border-collapse: collapse;

                tr {
                    height: 3em;
                    transition: 0.2s ease-out;

                    th {
                        padding-left: 1em;
                        position: sticky;
                        top: 0;
                        background-color: #f0f0f0;
                    }

                    &:hover {
                        background-color: #c0c0c0;
                    }

                    td {
                        padding-left: 1em;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

.addBrand {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #1a1a1acc;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

    &.active {
        form {
            animation: registerAnim2 0.8s cubic-bezier(.8,-0.46,.22,1.31) forwards;
        }
    }
    
    form {
        width: 30%;
        height: 65%;
        background-color: #f0f0f0;
        border-radius: 25px;
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 15% 2em 15% 2em 1fr;
        font-family: 'Open Sans', sans-serif;
        transform: translateY(-50em);
        animation: registerAnim 0.8s cubic-bezier(.8,-0.46,.22,1.31) forwards;

        .fa-times {
            position: absolute;
            top: 0.8em;
            right: 1em;
            font-size: 1.8em;
            transition: 0.2s ease-out;
            color: #110F30;

            &:hover {
                cursor: pointer;
                transform-origin: center;
                transform: scale(1.1);
            }
        }

        .formTitle {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            color: #110F30;

            h2 {
                font-size: 2em;
                font-weight: 800;
            }
        }

        fieldset {
            grid-row: 3 / 4;
            border: none;
            outline: none;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2em;

            input {
                width: 50%;
                height: 3em;
                border: none;
                outline: none;
                border-bottom: 3px solid #110F30;
                background-color: transparent;
            }

            button {
                width: 3em;
                height: 3em;
                border: none;
                outline: none;
                border-radius: 50%;
                transition: 0.2s ease-out;
                background-color: #322e64;
                color: #f0f0f0;

                &:hover {
                    background-color: #110F30;
                    cursor: pointer;
                }
            }
        }

        .table {
            grid-row: 5 / 6;
            align-self: start;
            justify-self: center;
            width: 90%;
            height: 90%;
            border-radius: 25px;
            box-shadow:  10px 10px 20px #a8a8a8,
             -10px -10px 20px #ffffff;
            overflow-y: scroll;

            table {
                width: 100%;
                height: 100%;
                text-align: center;
                font-family: 'Open Sans', sans-serif;
                color: #110F30;
                border-spacing: 0;
                border-collapse: collapse;

                tr {
                    height: 3em;
                    transition: 0.2s ease-out;

                    th {
                        padding-left: 1em;
                        position: sticky;
                        top: 0;
                        background-color: #f0f0f0;
                    }

                    &:hover {
                        background-color: #c0c0c0;
                    }

                    td {
                        padding-left: 1em;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

.eBtns {
    min-height: 100%;
    width: 100%;
    display: flex;
    gap: 1.5em;
    justify-content: center;
    align-items: center;
    padding-block: 2em;
    flex-wrap: wrap;

    button {
        min-width: 8em;
        height: 3em;
        border: none;
        outline: none;
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #2e229c;
        color: #f0f0f0;
        box-shadow:  5px 5px 20px #a4a4a4,
         -10px -10px 20px #ffffff;
        font-family: 'Open Sans', sans-serif;
        font-size: 0.8em;
        gap: 0.5em;
        transition: background 0.2s ease-out;

        &:hover {
            cursor: pointer;
            background-color: #20157c;
        }

        &:first-child {
            background-color: #5a1799;

            &:hover {
                background-color: #380f5e;
            }
        }

        &.rProv {
            background-color: #174499;

            &:hover {
                background-color: #0e3070;
            }
        }

        &.rBrand {
            background-color: #4f19b3;

            &:hover {
                background-color: #2e0a70;
            }
        }
    }
}

.tableEquip {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .table {
        width: 100%;
        max-height: 95%;
        overflow-y: scroll;
        overflow-x: auto;
        border-radius: 15px;
        box-shadow:  10px 10px 20px #a4a4a4,
        -10px -10px 20px #ffffff;

        table {
            min-height: 100%;
            width: 100%;
            text-align: left;
            font-family: 'Open Sans', sans-serif;
            border-spacing: 0;
            border-collapse: collapse;
            color: #110F30;

            tr {
                height: 3em;
                transition: background 0.3s ease-out;

                &:hover {
                    background-color: #c7c7c7;
                }

                th {
                    width: 3em;
                    background-color: #f0f0f0;
                    font-weight: 700;
                    padding-left: 1.5em;
                    position: sticky;
                    top: 0;
                }

                .id_th, .fecha_th {
                    min-width: 2em;
                }

                .desc_th {
                    min-width: 7em;
                }

                .marca_th {
                    min-width: 5em;
                }

                .guar_th, .prov_th , .estado_th {
                    min-width: 3em;
                }

                td {
                    font-weight: 600;
                    padding-left: 1.5em;

                    .null {
                        color: #110F3088;
                        font-style: italic;
                    }
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .container1 {
        height: max-content;
        grid-template-rows: 25vh 85vh;
        padding-bottom: 6vh;
    }
}