@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import 'header';

:root {
    --areaColor: #110f30;
}

.container1 {
    height: 94vh;
    width: 100%;
    display: flex;
    background-color: #f0f0f0;
    flex-direction: column;
    position: relative;
    overflow-y: hidden;
}

@keyframes equipR {
    to {
        transform: translateY(0);
    }
}

@keyframes equipR2 {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-50em);
    }
}

.equipRequest {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #1a1a1acc;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

    &.active {
        form {
            animation: equipR2 0.8s cubic-bezier(.8,-0.46,.22,1.31) forwards;
        }
    }

    form {
        height: 60%;
        width: 30%;
        background-color: #f0f0f0;
        border-radius: 25px;
        font-family: 'Open Sans', sans-serif;
        display: flex;
        flex-direction: column;
        position: relative;
        transform: translateY(-50em);
        animation: equipR 0.8s cubic-bezier(.8,-0.46,.22,1.31) forwards;

        .fa-times {
            font-size: 1.7em;
            position: absolute;
            top: 1em;
            right: 1.2em;
            color: #110F30;
            transition: 0.2s ease-out;

            &:hover {
                cursor: pointer;
                transform-origin: center;
                transform: scale(1.1);
            }
        }

        .formTitle {
            width: 100%;
            height: 25%;
            display: flex;
            justify-content: center;
            align-items: flex-end;

            h2 {
                font-weight: 800;
                font-size: 2em;
                color: #110F30;
            }
        }

        fieldset {
            width: 100%;
            height: 75%;
            border: none;
            outline: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2em;
            padding-block: 2em;

            .inpSel {
                height: 20%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2em;

                input {
                    height: 3em;
                    width: 17%;
                    border: none;
                    outline: none;
                    background-color: transparent;
                    border-bottom: 3px solid #110F30;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 0.9em;
                }

                .selectType {
                    width: 50%;
                    display: grid;
                    grid-template-areas: "select";
                    align-items: center;
                
                    &::after {
                        content: '';
                        clip-path: polygon(100% 0%, 0 0%, 50% 100%);
                        width: 0.8em;
                        height: 0.5em;
                        grid-area: select;
                        justify-self: end;
                        margin-right: 1em;
                        background-color: #110F30;
                        pointer-events: none;
                        transition: transform 0.2s ease-out;
                    }
                
                    &:focus-within {
                        &::after {
                            transform: rotate(180deg);
                        }
                    }
                
                    select {
                        appearance: none;
                        width: 100%;
                        height: 3em;
                        border-radius: 50px;
                        border: none;
                        outline: none;
                        padding-inline: 1em;
                        align-items: center;
                        grid-area: select;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 0.8em;
                        color: #535353;
                        background: linear-gradient(145deg, #d3d3d3, #fafafa);
                        box-shadow:  10px 10px 20px #a4a4a4,
                            -10px -10px 20px #ffffff;
                
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }

            .textArea {
                width: 80%;
                height: 80%;
                position: relative;

                textarea {
                    height: 100%;
                    width: 100%;
                    border: none;
                    outline: none;
                    resize: none;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 0.9em;
                    background: linear-gradient(145deg, #d8d8d8, #ffffff);
                    box-shadow:  10px 10px 20px #c0c0c0,
                        -10px -10px 20px #ffffff;
                    padding: 1em;
                    border-radius: 15px;
                }

                &::after {
                    content: attr(data-before);
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 700;
                    color: var(--areaColor);
                    position: absolute;
                    bottom: 0.7em;
                    right: 1.2em;
                }
            }
        }

        .sendSol {
            position: absolute;
            font-size: 1em;
            width: 3em;
            height: 3em;
            border: none;
            outline: none;
            background-color: #322e64;
            color: #f0f0f0;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            bottom: -1.2em;
            right: -1.2em;
            transition: 0.2s ease-out;

            &:hover {
                cursor: pointer;
                background-color: #110F30;
            }
        }
    }
}

.compContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #1a1a1acc;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

    &.active {
        form {
            animation: addAnim2 0.8s cubic-bezier(.8,-0.46,.22,1.31) forwards;
        }
    }

    form {
        width: 30%;
        height: 60%;
        background-color: #f0f0f0;
        border-radius: 25px;
        font-family: 'Open Sans', sans-serif;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 25% 1fr 20%;
        position: relative;
        transform: translateY(-50em);
        animation: addAnim 0.8s cubic-bezier(.8,-0.46,.22,1.31) forwards;

        .fa-times {
            font-size: 1.7em;
            position: absolute;
            top: 1em;
            right: 1.2em;
            color: #110F30;
            transition: 0.2s ease-out;

            &:hover {
                cursor: pointer;
                transform-origin: center;
                transform: scale(1.1);
            }
        }

        .formTitle {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;

            h2 {
                font-weight: 800;
                font-size: 2em;
                color: #110F30;
            }
        }

        fieldset {
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2em;
            padding-block: 2em;

            input {
                height: 3em;
                width: 70%;
                border: none;
                outline: none;
                padding-left: 1em;
                border-radius: 25px;
                background: linear-gradient(145deg, #d3d3d3, #fafafa);
                box-shadow:  10px 10px 20px #a4a4a4,
                    -10px -10px 20px #ffffff;
                font-family: 'Open Sans', sans-serif;
                font-size: 0.9em;
            }

            .selectComp {
                width: 70%;
                display: grid;
                grid-template-areas: "select";
                align-items: center;
            
                &::after {
                    content: '';
                    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
                    width: 0.8em;
                    height: 0.5em;
                    grid-area: select;
                    justify-self: end;
                    margin-right: 1em;
                    background-color: #110F30;
                    pointer-events: none;
                    transition: transform 0.2s ease-out;
                }
            
                &:focus-within {
                    &::after {
                        transform: rotate(180deg);
                    }
                }
            
                select {
                    appearance: none;
                    width: 100%;
                    height: 3em;
                    border-radius: 50px;
                    border: none;
                    outline: none;
                    padding-inline: 1em;
                    align-items: center;
                    grid-area: select;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 0.8em;
                    color: #535353;
                    background: linear-gradient(145deg, #d3d3d3, #fafafa);
                    box-shadow:  10px 10px 20px #a4a4a4,
                        -10px -10px 20px #ffffff;
            
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        .compSub {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        .addComp {
            width: 8em;
            height: 3em;
            border-radius: 25px;
            border: none;
            outline: none;
            grid-column: 2 / 3;
            align-self: flex-start;
            justify-self: center;
            background-color: #130e46;
            color: #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5em;
            box-shadow:  5px 5px 20px #a4a4a4,
                -10px -10px 20px #ffffff;
            transition: 0.2s ease-out;

            &:hover {
                cursor: pointer;
                background-color: #110f30;
            }
        }

        .retComp {
            height: 3em;
            width: 3em;
            border-radius: 50%;
            border: none;
            outline: none;
            grid-column: 1 / 2;
            align-self: flex-start;
            justify-self: flex-end;
            background-color: #ee115b;
            color: #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow:  5px 5px 20px #a4a4a4,
                -10px -10px 20px #ffffff;
            transition: 0.2s ease-out;
            opacity: 0;

            &:hover {
                cursor: pointer;
                background-color: #9c093a;
            }
        }

        .subcomp {
            position: absolute;
            font-size: 1em;
            width: 3em;
            height: 3em;
            border: none;
            outline: none;
            background-color: #322e64;
            color: #f0f0f0;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            bottom: -1.2em;
            right: -1.2em;
            transition: 0.2s ease-out;

            &:hover {
                cursor: pointer;
                background-color: #110F30;
            }
        }
    }
}

.warrContainer, .warrContainer2 {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #1a1a1acc;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

    &.active {
        .accDecWarr {
            animation: addAnim2 0.8s cubic-bezier(.8,-0.46,.22,1.31) forwards;
        }
    }

    .accDecWarr {
        width: 30%;
        height: 30%;
        background-color: #f0f0f0;
        border-radius: 25px;
        font-family: 'Open Sans', sans-serif;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40% 1fr;
        position: relative;
        transform: translateY(-50em);
        animation: addAnim 0.8s cubic-bezier(.8,-0.46,.22,1.31) forwards;

        h2 {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            font-size: 2em;
            font-weight: 800;
        }

        .warrBtns {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1.5em;

            button {
                color: #f0f0f0;
                border: none;
                border-radius: 25px;
                width: 8em;
                height: 3em;
                outline: none;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.5em;
                box-shadow:  5px 5px 20px #a4a4a4,
                    -10px -10px 20px #ffffff;
                transition: 0.2s ease-out;


                &:nth-child(1) {
                    background-color: #148374;

                    &:hover {
                        cursor: pointer;
                        background-color: #096155;
                    }
                }

                &:nth-child(2) {
                    background-color: #fc1e4e;

                    &:hover {
                        cursor: pointer;
                        background-color: #b41436;
                    }
                }
            }
        }
    }
}

.assContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #1a1a1acc;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

    &.active {
        form {
            animation: addAnim2 0.8s cubic-bezier(.8,-0.46,.22,1.31) forwards; 
        }
    }

    form {
        width: 30%;
        height: 60%;
        background-color: #f0f0f0;
        border-radius: 25px;
        font-family: 'Open Sans', sans-serif;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 20% 1fr 20%;
        position: relative;
        transform: translateY(-50em);
        animation: addAnim 0.8s cubic-bezier(.8,-0.46,.22,1.31) forwards;

        .fa-times {
            font-size: 1.7em;
            position: absolute;
            top: 1em;
            right: 1.2em;
            color: #110F30;
            transition: 0.2s ease-out;

            &:hover {
                cursor: pointer;
                transform-origin: center;
                transform: scale(1.1);
            }
        }

        .formTitle {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;

            h2 {
                font-weight: 800;
                font-size: 2em;
                color: #110F30;
            }
        }

        fieldset {
            width: 100%;
            height: 100%;
            outline: none;
            border: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2em;

            input {
                width: 70%;
                height: 3em;
                padding-left: 1em;
                border-radius: 25px;
                border: none;
                outline: none;
                box-shadow:  5px 5px 20px #a4a4a4,
                -10px -10px 20px #ffffff;
                background: linear-gradient(145deg, #d3d3d3, #fafafa);
            }

            .selectOffice {
                width: 70%;
                display: grid;
                grid-template-areas: "select";
                align-items: center;
            
                &::after {
                    content: '';
                    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
                    width: 0.8em;
                    height: 0.5em;
                    grid-area: select;
                    justify-self: end;
                    margin-right: 1em;
                    background-color: #110F30;
                    pointer-events: none;
                    transition: transform 0.2s ease-out;
                }
            
                &:focus-within {
                    &::after {
                        transform: rotate(180deg);
                    }
                }
            
                select {
                    appearance: none;
                    width: 100%;
                    height: 3em;
                    border-radius: 50px;
                    border: none;
                    outline: none;
                    padding-inline: 1em;
                    align-items: center;
                    grid-area: select;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 0.8em;
                    color: #535353;
                    background: linear-gradient(145deg, #d3d3d3, #fafafa);
                    box-shadow:  10px 10px 20px #a4a4a4,
                        -10px -10px 20px #ffffff;
            
                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .selectGroup {
                @extend .selectOffice;
                width: 50%;
            }
        }

        button {
            align-self: flex-start;
            justify-self: center;
            width: 8em;
            height: 3em;
            border: none;
            outline: none;
            border-radius: 25px;
            background-color: #130e46;
            color: #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5em;
            box-shadow:  5px 5px 20px #a4a4a4,
                -10px -10px 20px #ffffff;
            transition: 0.2s ease-out;

            &:hover {
                cursor: pointer;
                background-color: #110f30;
            }
        }
    }
}

@keyframes addAnim {
    to {
        transform: translateY(0);
    }
}

@keyframes addAnim2 {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-50em);
    }
}

.equipAdd {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #1a1a1acc;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

    &.active {
        form {
            animation: addAnim2 0.8s cubic-bezier(.8,-0.46,.22,1.31) forwards;
        }
    }

    form {
        width: 40%;
        height: 80%;
        background-color: #f0f0f0;
        border-radius: 25px;
        font-family: 'Open Sans', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        transform: translateY(-50em);
        animation: addAnim 0.8s cubic-bezier(.8,-0.46,.22,1.31) forwards;

        .fa-times {
            font-size: 1.7em;
            position: absolute;
            top: 1em;
            right: 1.2em;
            color: #110F30;
            transition: 0.2s ease-out;

            &:hover {
                cursor: pointer;
                transform-origin: center;
                transform: scale(1.1);
            }
        }

        .formTitle {
            width: 100%;
            height: 15%;
            display: flex;
            justify-content: center;
            align-items: flex-end;

            h2 {
                font-weight: 800;
                font-size: 2em;
                color: #110F30;
            }
        }

        fieldset {
            width: 100%;
            height: 25%;
            display: flex;
            justify-content: center;
            border: none;
            outline: none;
            gap: 1em;
            align-items: center;

            input {
                width: 60%;
                height: 3em;
                border: none;
                outline: none;
                background-color: transparent;
                font-family: 'Open Sans', sans-serif;
                font-size: 0.9em;
                border-bottom: 3px solid #110F30;
            }

            button {
                width: 3em;
                height: 3em;
                border: none;
                outline: none;
                border-radius: 50%;
                background-color: #5a1799;
                color: #f0f0f0;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0.2s ease-out;
                box-shadow:  5px 5px 15px #a8a8a8,
                    -5px -5px 15px #ffffff;

                &:hover {
                    cursor: pointer;
                    background-color: #380f5e;
                }
            }
        }

        .table {
            width: 85%;
            height: 55%;
            border-radius: 25px;
            box-shadow:  10px 10px 20px #a8a8a8,
             -10px -10px 20px #ffffff;
            overflow-y: scroll;

            table {
                width: 100%;
                height: 100%;
                text-align: center;
                font-family: 'Open Sans', sans-serif;
                color: #110F30;

                tr {
                    height: 3em;
                    transition: 0.2s ease-out;

                    th {
                        position: sticky;
                        top: 0;
                        background-color: #f0f0f0;
                    }

                    &:hover {
                        background-color: #c0c0c0;
                    }

                    td {
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

.title1 {
    height: 5vh;
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #1a1a1a;
}

.rEquip {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    height: 15%;

    button {
        width: 8em;
        height: 3em;
        border: none;
        outline: none;
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #5a1799;
        color: #f0f0f0;
        box-shadow:  5px 5px 20px #a4a4a4,
         -10px -10px 20px #ffffff;
        font-family: 'Open Sans', sans-serif;
        font-size: 0.8em;
        gap: 0.5em;
        transition: background 0.2s ease-out;

        &:hover {
            cursor: pointer;
            background-color: #380f5e;
        }

        &:first-child {
            background-color: #2e229c;

            &:hover {
                background-color: #20157c;
            }
        }

        &.lBtn, &.lBtn2 {
            background-color: #174499;

            &:hover {
                background-color: #0e3070;
            }
        }

        &.tBtn {
            background-color: #4f19b3;
            width: 8.5em;

            &:hover {
                background-color: #2e0a70;
            }
        }

        &.eBtn {
            width: 8.5em;
        }
    }

}

@keyframes tableAnim {
    from {
        opacity: 0;
        visibility: hidden;
    }

    to {
        opacity: 1;
        visibility: visible;
    }
}

.tableEquip {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    &#eT {
        .table {
            width: 60%;
        }
    }

    .table {
        width: 90%;
        max-height: 95%;
        overflow-y: scroll;
        border-radius: 15px;
        box-shadow:  10px 10px 20px #a4a4a4,
        -10px -10px 20px #ffffff;

        table {
            min-height: 100%;
            width: 100%;
            text-align: left;
            font-family: 'Open Sans', sans-serif;
            border-spacing: 0;
            color: #110F30;

            tr {
                height: 3em;
                transition: background 0.3s ease-out;

                &:hover {
                    background-color: #c7c7c7;
                }

                &:not(:first-child) {
                    animation: tableAnim 0.5s ease-out backwards;
                }

                th {
                    width: 3em;
                    background-color: #f0f0f0;
                    font-weight: 700;
                    padding-left: 1.5em;
                    position: sticky;
                    top: 0;
                }

                .id_th {
                    min-width: 4em;
                    max-width: 5em;
                    width: 4em;
                }

                .desc_th, .equip_th {
                    width: 10em;
                    min-width: 10em;
                    max-width: 12em;
                }

                .marca_th {
                    width: 8em;
                    min-width: 8em;
                    max-width: 9em;
                }

                .guar_th {
                    width: 8em;
                    min-width: 8em;
                    max-width: 9em;
                }

                .fecha_th {
                    width: 7em;
                    min-width: 7em;
                    max-width: 8em;
                }

                .estado_th {
                    width: 7em;
                    min-width: 7em;
                    max-width: 8em;
                }

                td {
                    font-weight: 600;
                    padding-left: 1.5em;

                    .null {
                        color: #110F3088;
                        font-style: italic;
                    }

                    .actions {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        gap: 0.5em;
                    }

                    .guarant {
                        display: grid;
                        grid-template-columns: max-content 1fr;
                        align-items: center;
                        gap: 0.5em;
                    }
                }

                .prestock_th, .stock_th, .total_th {
                    width: 4em;
                    min-width: 4em;
                    max-width: 5em;
                }

                .fa-exclamation-triangle {
                    color: #ff2a4d;
                }

                .fa-toolbox {
                    color: #24179b;
                    transition: 0.2s ease-out;
                    width: min-content;

                    &:hover {
                        cursor: pointer;
                        color: #130e46;
                    }
                }

                .fa-wrench {
                    color: #47087a;
                    transition: 0.2s ease-out;
                    width: min-content;

                    &:hover {
                        cursor: pointer;
                        color: #340e46;
                    }
                }

                .fa-hammer {
                    color: #ff5024;
                    transition: 0.2s ease-out;
                    width: min-content;

                    &:hover {
                        cursor: pointer;
                        color: #a03014;
                    }
                }

                .fa-tools {
                    color: #fc1e4e;
                    transition: 0.2s ease-out;
                    width: min-content;

                    &:hover {
                        cursor: pointer;
                        color: #b41436;
                    }
                }

                .fa-shield-alt {
                    color: #148374;
                    transition: 0.2s ease-out;
                    width: min-content;

                    &:hover {
                        cursor: pointer;
                        color: #096155;
                    }
                }

                .actions_th {
                    min-width: 3em;
                    width: 3em;
                    max-width: 8em;
                }
            }
        }
    }
}