@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

::-webkit-scrollbar {
    width: 0.7em;

    &-track {
        background-color: #FFF;
    }

    &-thumb {
        background-color: #a384ad;
        border-radius: 25px;
    }
}

.header {
    height: 6vh;
    background-color: #39374b;
    display: flex;
    align-items: center;
}

.nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    font-size: 1.1em;
    font-weight: 700;
    padding-right: 40px;

    input:focus {
        outline: none;
    }
}

.separator {
    flex-grow: 1;
}

.searchbar {
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;

    input {
        position: absolute;
        height: 60%;
        width: 90%;
        border: none;
        border-bottom: 0.2em solid #f3f3f3;
        color: #f3f3f3;
        transform: scaleX(0);
        background-color: transparent;
        transition: 0.3s ease-out;
        font-family: 'Open Sans', sans-serif;

        &:focus {
            transform: scaleX(1);
            transform-origin: right;

            ~ i {
                transform: scale(0);
            }
        }
    }

    i {
        font-size: 1.2em;
        color: #f3f3f3;
        transition: 0.2s ease-out;

        &:hover {
            color: #a384ad;
        }
    }
}

.menu {
    width: 4%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
        color: #F0F0F0;
        font-size: 150%;
        transition: 0.2s ease-out;

        &:hover {
            color: #a384ad;
        }
    }

    &.active .leftbar {
        transform: translate(0vw);
    }
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoimg {
    height: 4.7vh;
    width: auto;
    margin-left: 0.5vw;
}

.leftbar {
    height: 94vh;
    width: 15vw;
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    background-color: #33323b;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    transform: translate(-18vw);
    transition: 0.2s ease-out;
    color: #f0f0f0;
    font-family: 'Open Sans', sans-serif;
}

.menu_item {
    height: 8%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    a {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5em;
        padding-left: 2em;
        text-decoration: none;
        color: #f0f0f0;
        transition: background-color 0.2s ease-out;

        h2 {
            font-weight: 600;
            transition: 0.2s ease-out;
            font-size: 1rem;
        }
    }

    &:hover {
        i, h2 {
            color: #a384ad;
        }

        a {
            background-color: #2a282e;
        }
    }
}

.signin {
    width: auto;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: auto;
        height: 100%;
        background-color: #FFF;
        border-radius: 25px;
        cursor: pointer;
    }

    &.active {
        .menupfp {
            height: 10vh;
            opacity: 1;
            visibility: visible;

            &::before {
                height: 30px;
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.menupfp {
    height: 0;
    width: 10vw;
    background-color: #39374b;
    right: 0;
    top: 1vh;
    margin-right: 10px;
    margin-top: 6vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-family: 'Open Sans', sans-serif;
    transition: 0.2s ease-out;
    opacity: 0;
    visibility: hidden;
    user-select: none;
    z-index: 1;

    a {
        text-decoration: none;
        color: #f0f0f0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        font-size: 0.8em;
        gap: 10px;
        transition: 0.2s ease-out;

        i {
            transition: 0.2s ease-out;
        }

        &:hover {
            color: #a384ad;

            i {
                color: #a384ad;
            }
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        z-index: -1;
        right: 30px;
        width: 30px;
        height: 0;
        background-color: #39374b;
        transform: rotate(45deg);
        opacity: 0;
        visibility: hidden;
        transition: 0.2s ease-out;
    }
}

.container1 {
    height: 94vh;
    width: 100%;
    background-color: #eeeeee;
    padding: 2vh;
    display: flex;
    flex-direction: column;
}

.cards {
    height: 25vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title1 {
    height: 5vh;
    display: flex;
    align-items: center;
    width: 100%;

    h2 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        color: #1a1a1a;
    }
}

.data {
    &_employees {
        height: 80%;
        width: 23%;
        background-color: #4f5c97;
    }

    &_offices {
        @extend .data_employees;
        background-color: #cf5372;
        display: flex;
        flex-direction: column;
    }

    &_equipment {
        @extend .data_offices;
        background-color: #60346d;
    }

    &_fails {
        @extend .data_employees;
        background-color: #d84d4d;
    }
}

.card_content {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3em;
    width: 60%;
    font-family: 'Open Sans', sans-serif;
    color: #F0F0F0;
}

.section2 {
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
    font-size: 5em;

    i {
        color: #a82f4e;
    }

    &.equip {
        i {
            color: #38223f;
        }
    }

    &.emp {
        i {
            color: #333b5f;
        }
    }

    &.fails {
        i {
            color: #9c3232;
        }
    }
}

.card_info {
    width: 100%;
    height: 20%;
    background-color: #eb839d;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        color: #f8f8f8;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        display: flex;
        align-items: center;
        gap: 0.5em;
        width: auto;
    }

    i {
        font-size: 1.5em;
    }

    &.equip {
        background-color: #8a549b;
    }

    &.emp {
        background-color: #7383cc;
    }

    &.fails {
        background-color: #ee7676;
    }
}

.separator2 {
    height: 5%;
}

.separator_line {
    height: 50%;
    width: 100%;
    border-bottom: solid 2px #b3b3b3;
}

.history {
    flex-grow: 1;
    max-height: 55vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.title2 {
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 0 0 20px;
    background-color: #FFFFFF;
    z-index: 5;

    h2 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 1.3em;
        color: #1a1a1a;
    }
}

.history_tab {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    overflow: scroll;
}

table {
    font-family: 'Open Sans', sans-serif;
    padding: 2em 0 0 0;
    border-spacing: 0;

    i {
        color: #2b2b2b;
    }

    th, td {
        padding: 0 25px 0 25px;
        color: #2b2b2b;
    }

    th {
        text-align: left;
        height: 6vh;
        border-bottom: solid 1px #bfbfbf;
        margin-bottom: 3em;
    }

    td {
        height: 5vh;
        border-bottom: solid 1px #bfbfbf;
    }

    tr {
        &:nth-child(even) {
            background-color: #f5f5f5;
        }
    }
}

.top-tr {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #FFFFFF;
}

.history_full {
    height: 10%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #af4878;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -4vh 4vh white;

    a {
        color: #f8f8f8;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        display: flex;
        align-items: center;
        gap: 0.5em;
    }
}
